<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

  <div class="container">

    <a
      class="navbar-brand"
      routerLink="/dashboard"
      (click)="preventDoubleClick()">

      Student Management System

    </a>

    <div class="navbar-nav ms-auto">

      <a
        class="nav-link"
        routerLink="/dashboard"
        routerLinkActive="active"
        (click)="preventDoubleClick()">

        Dashboard

      </a>

      <a
        class="nav-link"
        routerLink="/students"
        routerLinkActive="active"
        (click)="preventDoubleClick()">

        Students

      </a>

      <a
        class="nav-link"
        routerLink="/students/add"
        routerLinkActive="active"
        (click)="preventDoubleClick()">

        Add Student

      </a>

    </div>

  </div>

</nav>